In [1]:
t1 = (1,3,5,7,9)
t1

(1, 3, 5, 7, 9)

In [2]:
t2 = (3, "Three", 3.3)
t2

(3, 'Three', 3.3)

In [4]:
t3 = (1,3,5,7,9)
print("One item in tuple -",t3[1])

One item in tuple - 3

In [7]:
t4 = ("My","Name","is","Ashish","Alichen")
(a,b,c,d,e) = t4
print(a+"#"+b+"#"+c+"#"+d+"#"+e)

My#Name#is#Ashish#Alichen

In [25]:
t5=(1,3,5,7,9)
l5=list(t5)
print(l5)
l5.append(100)
t5=tuple(l5)
print(t5)

[1, 3, 5, 7, 9]
(1, 3, 5, 7, 9, 100)

In [14]:
t6 = ("My","Name","is","Ashish","Alichen")
s6 = ' '.join(t6)
print(s6)

My Name is Ashish Alichen

In [15]:
t7 = (0,1,2,3,4,5,6,7,8,9)
print("4th from the beginning :" ,t7[3])
print("4th from the end :" ,t7[-4])

4th from the beginning : 3
4th from the end : 6

In [21]:
t8 = (2,4,4,4,6,6,6,6,6)
print(t8)
n = int(input("Enter the number you want to count :"))
print(n," appears ",c8," times")

(2, 4, 4, 4, 6, 6, 6, 6, 6)
Enter the number you want to count :4
4  appears  3  times

In [23]:
t9 = (1,3,5,7,9,2,4,6,8,0)
n = int(input("Enter the number you want to search :"))
e = (n in t9)
if e == True:
    print("It exist")
else:
    print("It does not exist")

Enter the number you want to search :22
It does not exist

In [27]:
l10 = [1,3,2,4,3,5,4,6]
t10 = tuple(l10)
print(t10)

(1, 3, 2, 4, 3, 5, 4, 6)

In [30]:
t11=(1,3,5,7,9)
l11=list(t11)
print(l11)
l11.remove(7)
t11=tuple(l11)
print(t11)

[1, 3, 5, 7, 9]
(1, 3, 5, 9)

In [32]:
t12 = (1,4,2,6,4,8,6,0,8)
t12[3:6]

(6, 4, 8)

In [48]:
vowels = ('a', 'b', 'c', 'd', 'e', 'f')
a = input("Enter the item :")
i = vowels.index(a)
print('The index of '+a+':', i)

Enter the item :e
The index of e: 4

In [45]:
t15 = (1,2,3,4,5,6,7,8,9,0)
print("Length of the given tuple :",len(t15))

Length of the given tuple : 10

In [42]:
t14 = (1,2,3,4,5,6,7,8,9,0)
print(t14)
print(tuple(reversed(t14)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
(0, 9, 8, 7, 6, 5, 4, 3, 2, 1)